.App {
    background:#fff;
    padding:15px 100px 15px 15px;
    border-radius:14px;
    box-shadow: 5px 5px 20px hsl(231, 11%, 93%);
    width:825px;
    display:grid;
    grid-template-columns: 275px 1fr;
    grid-column-gap: 100px;
}

@media (max-width:1400px) {
    .App {
        display: flex;
        flex-direction:column;
        background:none;
        border-radius:0;
        box-shadow: none;
        padding:0;
        height:100vh;
        width:100%;
        max-width: 100%;
    }
}

