.DetailsContainer {
    padding:0 100px;
    margin-top:50px;
    display: flex;
    flex-direction: column;
}

.DetailsHeading {
    font-family:'ubuntuMedium';
    font-size:28px;
    color:#072a54;
    letter-spacing:1px;
    line-height:100%;
    margin-bottom:20px;
}

.DetailsCopy {
    font-size:16px;
    color:hsl(231, 11%, 63%);
    margin-top:0;
    margin-bottom: 40px;
}



/* USER INFO ENTRY */

.DetailsForm {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.DetailsFormLabel {
    font-family: 'ubuntuRegular';
    font-size:15px;
    color:hsl(213, 96%, 18%);
    margin-bottom:10px;
}

.DetailsFormInput {
    font-family: 'ubuntuRegular';
    font-size:16px;
    border:1px solid hsl(231, 11%, 63%);
    border-radius:6px;
    padding:15px;
    margin-bottom:25px;
}

.DetailsFormInput::placeholder {
    font-family: 'ubuntuRegular';
    font-size:16px;
    color: hsl(231, 11%, 63%);
}

/* PLAN SELECTION */

.DetailsPlanOptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom:20px;
    grid-gap:18px;
}

.DetailsPlanCheckboxLabel {
    position: relative;
    margin:0;
}

.DetailsPlanCheckboxLabel:hover {
    cursor: pointer;
}

.DetailsPlanCheckbox {
    position: absolute;
    left: -99em;
}

.DetailsPlanSelect {
    border: 1px solid hsl(231, 11%, 63%);
    border-radius:10px;
    padding:20px 15px;
     transition: all 0.3s ease;
}

.DetailsPlanSelect:hover {
    border-color: hsl(243, 100%, 62%);
}

.DetailsPlanCheckbox:checked + .DetailsPlanSelect {
    border-color: hsl(243, 100%, 62%);
    background:hsl(217, 100%, 97%);
}

.DetailsPlanIcon {
    margin-bottom:45px;
}

.DetailsPlanLabel, 
.DetailsPlanPrice,
.DetailsPlanPriceNote {
    margin:0;
    line-height:100%;
    font-family: 'ubuntuRegular';
}

.DetailsPlanLabel {
    margin-bottom:10px;
    color:hsl(213, 96%, 18%);
    font-size:16px;
    font-family: 'ubuntuMedium';
}

.DetailsPlanPrice {
    font-size:14px;
    margin-bottom:10px;
    color:hsl(231, 11%, 63%);
}

.DetailsPlanPriceNote {
    font-size:12px;
    color:hsl(213, 96%, 18%);
}

.toggleWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    background: hsl(217, 100%, 97%);
    border-radius: 6px;
    padding:15px 0;
}

.toggleWrapper input {
    position: absolute;
    left: -99em;
}
  
.toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: hsl(213, 96%, 18%);
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before {
    content: "Monthly";
    position: absolute;
    left: -70px;
    font-size:14px;
    color:hsl(213, 96%, 18%);
}

.toggle:after {
    content: "Yearly";
    position: absolute;
    right: -58px;
    font-size:14px;
    color:hsl(231, 11%, 63%);
}

.toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 2px;
    left: 3px;
    width: 15px;
    height: 15px;
    background-color: hsl(231, 100%, 99%);
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
}

input:checked + .toggle:before {
}

input:checked + .toggle:after {
}

input:checked + .toggle .toggle__handler {
    transform: translate3d(19px, 0, 0) rotate(0);
}

/* ADD ON LEVELS */
.DetailsAddsLabel{
    position: relative;
    margin-bottom:15px;
}
.DetailsAddsLabel:last-of-type {
    margin-bottom: 0;
}
.DetailsAddsCheckbox{
    position: absolute;
    left: -999em;
}
.DetailsAddsOption {
    border: 1px solid hsl(231, 11%, 63%);
    border-radius: 6px;
    margin-bottom:15px;
    transition: all 0.3s ease;
}
.DetailsAddsOption:hover {
    border-color: hsl(243, 100%, 62%);
    cursor:  pointer;
}
.DetailsAddsCheckbox:checked+ .DetailsAddsOption {
    border-color: hsl(243, 100%, 62%);
    background:hsl(217, 100%, 97%);
}
.DetailsAddsOption {
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.DetailsAddsFakebox {}

.DetailsSummary {
    background:hsl(217, 100%, 97%);
    border-radius:6px;
    padding:25px;
}

.DetailsSummaryItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DetailsSummaryItemLevel {
    font-family: 'ubuntuMedium';
    font-size:16px;
    color:hsl(213, 96%, 18%);
}

.DetailsSummaryItemAddOn,
.DetailsSummaryTotal {
    font-family: 'ubuntuMedium';
    font-size:14px;
    color:hsl(231, 11%, 63%);
}

.DetailsSummaryTotalCost {
    font-family: 'ubuntuBold';
    font-size:18px;
    color:hsl(243, 100%, 62%);
}
/* prev / next buttons */

.DetailsButtons {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:auto;
    margin-bottom: 15px;
}

.prevButton {
    color:hsl(213, 96%, 18%);
    font-family: 'ubuntuRegular';
    font-size:16px;
    background:none;
    border:none;
}

.prevButton:hover {
    cursor: pointer;
}

.nextButton {
    font-family: 'ubuntuRegular';
    color:hsl(231, 100%, 99%);
    font-size:16px;
    background:hsl(213, 96%, 18%);
    padding:20px 25px;
    border:none;
    border-radius:6px;
    line-height:100%;
    letter-spacing: 0.5px;
    transition:all 0.3s ease;
    margin-left:auto;
}

.nextButton:hover {
    cursor: pointer;
    background:hsl(243, 100%, 62%)
}