.DetailsContainer {
    padding:0 100px;
    margin-top:50px;
    display: flex;
    flex-direction: column;
}

.DetailsPanel {
    background:#fff;
}

.DetailsHeading {
    font-family:'ubuntuMedium';
    font-size:30px;
    color:#072a54;
    letter-spacing:1px;
    line-height:100%;
    margin-top: 0;
    margin-bottom:20px;
}

.DetailsCopy {
    font-size:16px;
    color:hsl(231, 11%, 63%);
    margin-top:0;
    margin-bottom: 40px;
    line-height: 150%;
}


/* USER INFO ENTRY */

.DetailsInfo {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.DetailsInfoLabel {
    font-family: 'ubuntuRegular';
    font-size:15px;
    color:hsl(213, 96%, 18%);
    margin-bottom:10px;
}

.DetailsInfoInput {
    font-family: 'ubuntuMedium';
    font-size:16px;
    border:1px solid hsl(231, 11%, 63%);
    border-radius:6px;
    padding:15px;
    margin-bottom:25px;
    outline: none;
    color:hsl(213, 96%, 18%);
}

.DetailsInfoInput::placeholder {
    font-family: 'ubuntuRegular';
    font-size:16px;
    color: hsl(231, 11%, 63%);
}

.DetailsInfoInput:focus {
    border:1px solid hsl(243, 100%, 62%);
}

/* PLAN SELECTION */

.DetailsPlanOptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom:20px;
    grid-gap:18px;
}

.DetailsPlanCheckboxLabel {
    position: relative;
    margin:0;
}

.DetailsPlanCheckboxLabel:hover {
    cursor: pointer;
}

.DetailsPlanCheckbox {
    position: absolute;
    left: -99em;
}

.DetailsPlanSelect {
    border: 1px solid hsl(231, 11%, 63%);
    border-radius:10px;
    padding:20px 15px;
     transition: all 0.3s ease;
}

.DetailsPlanSelect:hover {
    border-color: hsl(213, 96%, 18%)
}

.DetailsPlanCheckbox:checked + .DetailsPlanSelect {
    border-color: hsl(213, 96%, 18%);
    background:hsl(231, 100%, 99%);
}

.DetailsPlanIcon {
    margin-bottom:45px;
}

.DetailsPlanLabel, 
.DetailsPlanPrice,
.DetailsPlanPriceNote {
    margin:0;
    line-height:100%;
    font-family: 'ubuntuRegular';
}

.DetailsPlanLabel {
    margin-bottom:10px;
    color:hsl(213, 96%, 18%);
    font-size:16px;
    font-family: 'ubuntuMedium';
}

.DetailsPlanPrice {
    font-size:14px;
    margin-bottom:10px;
    color:hsl(231, 11%, 63%);
}

.DetailsPlanPriceNote {
    font-size:12px;
    color:hsl(213, 96%, 18%);
}

.toggleWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    background: hsl(231, 100%, 99%);
    border-radius: 6px;
    padding:15px 0;
}

.toggleWrapper input {
    position: absolute;
    left: -99em;
}
  
.toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: hsl(213, 96%, 18%);
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before {
    content: "Monthly";
    position: absolute;
    left: -70px;
    font-size:14px;
    color:hsl(213, 96%, 18%);
}

.toggle:after {
    content: "Yearly";
    position: absolute;
    right: -58px;
    font-size:14px;
    color:hsl(231, 11%, 63%);
}

.toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 2px;
    left: 3px;
    width: 15px;
    height: 15px;
    background-color: hsl(231, 100%, 99%);
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
}

input:checked + .toggle:before {
    color:hsl(231, 11%, 63%);
}

input:checked + .toggle:after {
    color:hsl(213, 96%, 18%);
}

input:checked + .toggle .toggle__handler {
    transform: translate3d(19px, 0, 0) rotate(0);
}

/* ADD ON LEVELS */
.DetailsAddsLabel{
    position: relative;
    margin-bottom:15px;
}
.DetailsAddsLabel:last-of-type {
    margin-bottom: 0;
}
.DetailsAddsCheckbox{
    position: absolute;
    left: -999em;
}
.DetailsAddsOption {
    border: 1px solid hsl(231, 11%, 63%);
    border-radius: 6px;
    margin-bottom:15px;
    padding:20px 25px;
    display:flex;
    align-items:center;
    gap:25px;
    transition: all 0.3s ease;
}
.DetailsAddsOption:hover {
    border-color: hsl(243, 100%, 62%);
    cursor:  pointer;
}
.DetailsAddsCheckbox:checked + .DetailsAddsOption {
    border-color: hsl(243, 100%, 62%);
    background:hsl(231, 100%, 99%);
}
.DetailsAddsFakebox {
    width:20px;
    height:20px;
    border:1px solid hsl(213, 96%, 18%);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.3s ease;
}
.DetailsAddsCheckbox:checked + .DetailsAddsOption .DetailsAddsFakebox {
    background:hsl(243, 100%, 62%);
}
.DetailsAddsLabel {
    font-family: 'ubuntuMedium';
    font-size:16px;
    color:hsl(213, 96%, 18%);
    margin-top: 0;
    margin-bottom: 5px;
    line-height:100%;
}
.DetailsAddsInfo,
.DetailsAddsPrice {
    font-family: 'ubuntuRegular';
    font-size:14px;
    color:hsl(231, 11%, 63%);
    margin-top: 0;
    margin-bottom: 0;
}
.DetailsAddsPrice {
    margin-left:auto;
    color:hsl(243, 100%, 62%);
}

/* DETAILS FINAL SUMMARY */

.DetailsSummary {
    background:hsl(231, 100%, 99%);
    border-radius:6px;
    padding:25px;
}

hr {
    border-top: 1px solid  hsl(229, 24%, 87%);
    border-bottom: none;
}

.DetailsChangeLevel {
    font-family:'ubuntuRegular';
    font-size:14px;
    color:hsl(231, 11%, 63%);
    text-decoration: underline;
    background:none;
    border:none;
    transition: all 0.3s ease;
    padding-left:0;
    margin-top: 5px;
}

.DetailsChangeLevel:hover {
    cursor: pointer;
    color:hsl(243, 100%, 62%);
}

.DetailsSummaryItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.DetailsSummaryItem:last-of-type {
    margin-bottom: 0;
}

.DetailsSummaryItemLevel {
    font-family: 'ubuntuMedium';
    font-size:16px;
    color:hsl(213, 96%, 18%);
    margin-top: 0;
    margin-bottom:0;
}

.DetailsSummaryItemAddOn,
.DetailsSummaryTotal,
.DetailsSummaryItemAddOnFee,
.DetailsSummaryItemTotal {
    font-family: 'ubuntuRegular';
    font-size:14px;
    color:hsl(231, 11%, 63%);
}

.DetailsSummaryItemAddOn,
.DetailsSummaryItemAddOnFee {
    margin: 0;
}

.DetailsSummaryItemAddOnFee {
    color:hsl(213, 96%, 18%);
}

.DetailsSummaryTotalCost {
    font-family: 'ubuntuBold';
    font-size:22px;
    color:hsl(243, 100%, 62%);
}

/* THANK YOU */

.DetailsPanelThanks {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.DetailsThanksImg {
    max-width:80px;
    margin-bottom:35px;
}

.DetailsPanelThanks .DetailsCopy {
}

@media (max-width:1400px) {
    .DetailsContainer {
        padding:15px;
        margin-top:-95px;
    }

    .DetailsHeading {
        font-size: 24px;
    }

    .DetailsPanel {
        padding:25px;
        border-radius:6px;
        box-shadow: 5px 5px 20px hsl(231, 11%, 93%);
    }

    .DetailsPlanOptions {
        display:flex;
        flex-direction: column;
    }

    .DetailsPlanSelect {
        display:flex;
        align-items: flex-start;
        gap:15px;
    }

    .DetailsPlanLabel {
        font-size:14px;
    }

    .DetailsPlanPrice {
        margin-bottom:10px;
    }

    .DetailsPlanIcon,
    .DetailsPlanPrice {
        margin:0;
    }

    .DetailsPlanPriceNote {
        margin-top:10px;
    }

    .DetailsAddsOption {
        padding:15px;
        display:flex;
        align-items:center;
        gap:10px;
    }

    .DetailsAddsLabel {
        font-size: 14px;
    }

    .DetailsAddsInfo {
        font-size: 12px;
    }

    .DetailsThanksImg {
        max-width:55px;
    } 

    .DetailsPanelThanks {
        padding:75px 25px;
    }
}